html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

/* Product CSS */
.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
}
.products .card{
  margin: 10px auto;
}
.products .card-img-top{
  height: 250px;
  width: 100%;
}
.products .card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products .card-text{
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


/* --------- Detail Product ----------- */
.detail_page{
  padding: 10px 10px;
}
.detail_page .img-thumbnail.active{
  border-color: orangered;
  padding: 2px;
}

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
      }
  }
